
<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book), method: :delete, remote: true, class: "favorite" do %>
    <i class="fas fa-heart"></i><%= book.favorites.count %>
  <% end %>
  <% else %>
    <%= link_to book_favorites_path(book),method: :post, remote: true do %>
    <i class="far fa-heart"></i><%= book.favorites.count %>
  <% end %>
<% end %>
<% if request.fullpath == book_path(book) %>
  <% $starflg = false %>
<% elsif request.fullpath == books_path || request.fullpath == user_path(book.user.id) %>
  <% $starflg = true %>
<% end %>
<% if $starflg == true %>
 &ensp;コメント：<%= book.book_comments.count %>
<div id="rate-<%= book.id %>" class= "text-nowrap"></div></td>
  <script>
    $('#rate-<%= book.id %>').empty();
    $('#rate-<%= book.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= book.star %>,
    });
  </script>
<% end %>