<div class= "container">
  <div class= "row">
    <div class= "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>Editing Book</h2>

      <nav id= "error_explanation" >
        <% if @book.errors.any? %>
          <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        <% end %>
      </nav>

      <%= form_with model: @book, local:true do |f| %>
        <div class= "form-group">
          <label>Title</label>
          <%= f.text_field :title, autofocus: true, class:"form-control" %>
        </div>
        <div class= "form-group">
          <label>Option</label>
          <%= f.text_area :body, autofocus: true, class:"form-control" %>
        </div>
        <div id="rate-edit"><%= f.label :star %></div>
          <script>
          $('#rate-edit').empty();
          $('#rate-edit').text("Star : ");
          $('#rate-edit').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @book.star %>,
          });
          </script>

        <%= f.submit "Update Book", class:"btn btn-success form-group" %>
      <% end %>
      <div>
        <%= link_to "Show", book_path(@book) %> | <%= link_to "Back", books_path %>
      </div>
    </div>
  </div>
</div>